<div class="sign-up">
= simple_form_for @post do |f|
	<h1 class="sign-up-title">Show off your Dog</h1>
	=f.input :image
	<div class="form-inputs">
	= f.input :title, label: false, :placeholder => "Title"
	= f.input :instagram, label: false, :placeholder => "Instagram"
	= f.input :description, label: false, :placeholder => "Description"
	</div>
	= f.submit :Upload!, :class => "sign-up-button"
</div>
