!!!
%html
%head
	%title Dogitz
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%nav
		.nav-wrapper
			- if user_signed_in?
				%a.brand-logo{:href => "/"} Dogitz
				%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
					%i.fa.fa-bars
				%ul.right.hide-on-med-and-down
					%li
						= link_to current_user.name, edit_user_registration_path
					%li
						= link_to "Add New Photo", new_post_path
					%li
						= link_to "Sign Out", destroy_user_session_path, :method => :delete
				%ul#mobile-demo.side-nav
					%li
						= link_to current_user.name, edit_user_registration_path
					%li
						= link_to "Add New Photo", new_post_path
					%li
						= link_to "Sign Out", destroy_user_session_path, :method => :delete
			- else
				%a.brand-logo{:href => "/"} Dogitz
				%a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
					%i.fa.fa-bars
				%ul.right.hide-on-med-and-down
					%li
						= link_to "Sign in", new_user_session_path
					%li
						= link_to "Sign up", new_user_registration_path
				%ul#mobile-demo.side-nav
					%li
						= link_to "Sign in", new_user_session_path
					%li
						= link_to "Sign up", new_user_registration_path
	/ %p.notice= notice
	/ %p.alert= alert
	= yield